@charset "UTF-8";
@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #031a35;
  line-height: 1;
  font-family: Oswald;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Oswald;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #f5f5f5;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 76.875rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  background-color: #031a35;
  box-shadow: 0px 4px 9px 0px rgba(28, 49, 73, 0.4);
  padding: 15px 0;
  color: #fff;
}
@media (max-width: 47.99875em) {
  .header {
    padding: 8px 0;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 10px;
  position: relative;
  z-index: 10;
}
@media (max-width: 47.99875em) {
  .header__logo img {
    width: 50px;
  }
}
.menu {
  display: flex;
  flex: 1 1 100%;
  max-width: 800px;
}
.menu__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  min-width: 100%;
  flex: 1 1 800px;
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translate(-200%, 0px);
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 30px;
    background-color: #031a35;
    transition: transform 0.5s ease 0s;
  }
  .menu-open .menu__body {
    transform: translate(0px, 0px);
  }
}
.menu__list {
  display: flex;
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 47.99875em) {
  .menu__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
.menu__link {
  padding: 5px 0;
  font-size: 21px;
  transition: color 0.3s ease 0s;
  position: relative;
}
.menu__link::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffd400;
  transition: width 0.3s ease 0s;
}
.menu__link:hover {
  color: #ffd400;
}
.menu__link:hover::before {
  width: 100%;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 26px;
  }
}

.contacts-header__top {
  margin-top: 8px;
}
@media (max-width: 47.99875em) {
  .contacts-header__top {
    margin-bottom: 30px;
  }
}
.contacts-header__phone {
  font-size: 28px;
  font-weight: 800;
  transition: color 0.3s ease 0s;
}
.contacts-header__phone:hover {
  color: #ffd400;
}
.header-social {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 47.99875em) {
  .header-social {
    justify-content: space-between;
  }
}
.header-social__item:not(:last-child) {
  margin-right: 10px;
}
.header-social__link svg path {
  transition: fill 0.5s ease 0s;
}
.header-social__link:hover svg path {
  fill: #ffd400;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    margin-left: auto;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  padding: 60px 0;
  font-size: 21px;
}
@media (max-width: 47.99875em) {
  .footer {
    font-size: 18px;
    padding: 30px 0;
  }
}
@media (max-width: 29.99875em) {
  .footer {
    padding: 20px 0;
    font-size: 16px;
  }
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .footer__row {
    flex-direction: column;
  }
}
.footer__logo {
  margin-right: 18px;
}
@media (max-width: 47.99875em) {
  .footer__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.footer__copy {
  margin-right: 15px;
}
@media (max-width: 47.99875em) {
  .footer__copy {
    order: 3;
    margin-right: 0;
    text-align: center;
  }
}
.footer__rights:not(:last-child) {
  margin-bottom: 15px;
}
.footer__menu {
  flex: 1 1 555px;
}
@media (max-width: 47.99875em) {
  .footer__menu {
    flex: 1 1 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 47.99875em) {
  .menu-footer {
    display: flex;
    justify-content: center;
  }
}
.menu-footer__body {
  margin-left: auto;
  max-width: 550px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 47.99875em) {
  .menu-footer__body {
    justify-content: center;
    gap: 10px;
  }
}
.menu-footer__item {
  flex: 0 1 25%;
  margin-bottom: 10px;
  padding-right: 10px;
}
.menu-footer__item:last-child {
  flex: 1 1 100%;
}
@media (max-width: 61.99875em) {
  .menu-footer__item {
    text-align: left;
    flex: 0 1 auto;
  }
  .menu-footer__item:last-child {
    flex: 0 1 auto;
  }
}
.menu-footer__link {
  display: inline-block;
  line-height: 30px;
  text-decoration: underline;
  position: relative;
}
.menu-footer__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #031a35;
}

.hero-home {
  background-color: #fafafa;
}
.hero-home__row {
  padding: 45px 0 60px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 47.99875em) {
  .hero-home__row {
    flex-direction: column-reverse;
  }
}
.hero-home__content {
  max-width: 750px;
  width: 100%;
}
.hero-home__title {
  font-size: 90px;
  line-height: 117%;
  font-weight: 700;
  max-width: 750px;
  width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 78.75em) {
  .hero-home__title {
    font-size: 54px;
    margin-bottom: 30px;
  }
}
@media (max-width: 47.99875em) {
  .hero-home__title {
    font-size: 28px;
  }
}
.hero-home__about {
  margin-bottom: 60px;
}
.hero-home__item {
  font-size: 21px;
  line-height: 29px;
  padding-left: 42px;
  position: relative;
}
.hero-home__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-right: 14px;
  background-size: 29px 29px;
}
.hero-home__item_paw {
  max-width: 520px;
  width: 100%;
}
.hero-home__item_paw::before {
  background: url("../img/home/1.png") no-repeat;
}
.hero-home__item_bone {
  max-width: 740px;
  width: 100%;
}
.hero-home__item_bone::before {
  background: url("../img/home/2.png") no-repeat;
}
.hero-home__item_dog {
  max-width: 670px;
}
.hero-home__item_dog::before {
  background: url("../img/home/3.png") no-repeat;
}
.hero-home__item:not(:last-child) {
  margin-bottom: 22px;
}
@media (max-width: 47.99875em) {
  .hero-home__item {
    font-size: 18px;
  }
}
@media (max-width: 29.99875em) {
  .hero-home__button {
    width: 100%;
  }
}
.hero-home__image-ibg_contain {
  transform: translate(20%, 0px);
  max-width: 585px;
  width: 100%;
  padding-bottom: 64%;
}
@media (max-width: 47.99875em) {
  .hero-home__image-ibg_contain {
    margin-bottom: 20px;
    transform: translate(0px, 0px);
  }
}

.show-home {
  background: url("../img/home/tshirtdog.jpg") no-repeat;
  background-size: cover;
}
.show-home__container {
  padding-top: 45px;
  padding-bottom: 140px;
}
@media (max-width: 78.75em) {
  .show-home__container {
    padding-bottom: 45px;
  }
}
.show-home__title {
  font-size: 40px;
  margin-bottom: 55px;
  font-weight: 600;
  color: #fff;
}
.show-home__cards {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 56px;
  margin-bottom: 56px;
}
@media (max-width: 47.99875em) {
  .show-home__cards {
    margin-bottom: 30px;
    gap: 30px;
  }
}
.show-home__card {
  flex: 0 1 587px;
}
@media (max-width: 78.75em) {
  .show-home__card {
    flex: 1 1 100%;
  }
}
.show-home__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-home__button {
  transform: translate(calc(50% + 28px), 0px);
}
@media (max-width: 78.75em) {
  .show-home__button {
    transform: translate(0px, 0px);
  }
}
@media (max-width: 47.99875em) {
  .show-home__button {
    width: 100%;
  }
}

.show-card {
  background-color: #fff;
  font-size: 21px;
  font-style: normal;
}
.show-card:hover .show-card__paw svg path {
  fill: #ffd400;
  transform: scale(1.05);
}
@media (max-width: 29.99875em) {
  .show-card {
    font-size: 14px;
  }
}
.show-card__body {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px 40px 50px;
}
@media (max-width: 47.99875em) {
  .show-card__body {
    flex-direction: column-reverse;
    padding: 20px 15px 25px 30px;
  }
}
.show-card__left {
  margin-right: 10px;
}
.show-card__title {
  font-weight: 700;
  margin-bottom: 40px;
}
.show-card__subtitle {
  font-weight: 700;
  margin-bottom: 40px;
  margin-right: 5px;
}
.show-card__when {
  display: flex;
}
.show-card__address {
  font-style: normal;
}
.show-card__right {
  flex: 0 0 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .show-card__right {
    flex: 0 0 100px;
    flex-direction: row;
    align-items: center;
  }
}
.show-card__date {
  font-size: 35px;
  font-weight: 700;
}
@media (max-width: 47.99875em) {
  .show-card__date {
    font-size: 24px;
  }
}
.show-card__paw {
  transform: translate(15px, 15px);
  width: 180px;
  height: 166px;
  align-self: start;
}
.show-card__paw svg path {
  transition: fill 0.3s ease 0s, transform 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .show-card__paw {
    width: 100px;
    height: auto;
    transform: translate(0px, 0px);
  }
}

.address-show__item {
  display: flex;
}
.address-show__item:not(:last-child) {
  margin-bottom: 10px;
}
.address-show__title {
  margin-right: 5px;
}
.button {
  padding: 17px 45px;
  font-size: 21px;
  color: #fbfbfb;
  box-shadow: 0px 3px 5px 0px rgba(3, 26, 53, 0.2);
  transition: background 0.3s ease 0s;
}
.button_red {
  background: #dc1625;
}
.button_red:hover {
  background: #ca0f1e;
}
.button_yellow {
  color: #031a35;
  background: #ffd400;
}
.button_yellow:hover {
  background: #e3bf07;
}
